<ion-view view-title="留言板">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/posts/{{chat.id}}">
        <div class="user-summary-bar item-avatar">
          <img ng-src="{{chat.face}}">
          <span>{{chat.name}}</span>
          <span>  </span>
           <img class='sex-sign-icon' ng-src="{{chat.sex=='m'?'img/male-sign.jpg':'img/female-sign.jpg'}}">          
          <!-- <i class="icon ion-male"></i> -->
          <span class="{{chat.sex=='m'?'font-color-light-blue':'font-color-pink'}}">{{chat.age}}</span>
          <span>  </span>
          <span>{{chat.occupation}}</span>
        </div>
        <div class="card">
          <div class="item item-text-wrap {{chat.contentImg!=null?'item-thumbnail-left':''}} ">
            <img ng-if="chat.contentImg!=null" ng-src="{{chat.contentImg}}">           
            <p>{{chat.lastText}}</p>
          </div>
        </div>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
